<footer class="container-fluid bg-dark fixed-bottom" style="height: 70px;">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-4 text-center text-white h6">ساخته شد با ❣️☕</div>
    </div>
</footer>