<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.fa.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- start-nav -->
    <%-include('./partials/header.ejs')%>
    <!-- end-nav -->



    <!-- start-main -->
    <section class="container mt-5 mb-5">
        <%- body %>
    </section>
    <!-- end-main -->
    
    
    <!-- start-footer -->
    <%-include('./partials/footer.ejs')%>
    <!-- end-footer -->
    <script src="/js/jquery-slim.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
   
</body>
</html>